body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-weight: 900;
  line-height: normal;
  font-size: 2em;
  margin-top: 1.2em;
  font-family: 'Oswald', sans-serif;
  }
h3 {
  font-weight: 900;
  line-height: normal;
  font-size: 1.6em;
  margin-top: 1.2em;
  font-family: 'Oswald', sans-serif;
  }
p {
  font-weight: 400;
  line-height: 1.2em;
  margin-top: 1.4em;
}
figcaption{
  font-style: italic;
}
nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}
nav a{
  text-decoration: none;
  color: #fff;
}
nav a:hover{
  color: red;
}
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
